<div class="container mt-5">
    <div *ngFor="let product of product; let i= index">
        <div class="ciccio">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <a class="btn btn-primary" [routerLink]="['../product-detail/', product.id]"
                    routerLinkActive="active">Dettagli</a>
                    <a class="btn btn-success ms-3" (click)="aggiungi(product)"
                    >Aggiungi</a
                  >
            </div>
        </div>
    </div>
</div>