<div  class="container m-2 "*ngIf="product.length > 0">
  <h1>Prodotti nel carrello</h1>
  <div *ngFor="let product of product; let i = index">
    <div class="card " style="width:400px">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.price | currency :"EUR" }} </p>
        <button class="btn btn-danger"(click)="removeItem(i)">Rimuovi Prodotto</button>
      </div>
    </div>
  </div>
  <button style="width:400px" class="btn btn-primary mt-2"(click)="svuotaCart()">Svuota Carrello </button>
  <h1>Checkout</h1>

<div class="form-group">

      <form [formGroup]="checkout" (ngSubmit)="onSubmit()">
        <label for="nome">Nome: </label>
        <input class="form-control" style="width:400px" id="nome" type="text" formControlName="nome">

        <label for="indirizzo">Indirizzo: </label>
        <input class="form-control " style="width:400px" id="indirizzo" type="text" formControlName="indirizzo">

        <button class="btn btn-primary mt-2" style="width:400px" type="submit">Checkout</button>

      </form>
</div>
</div>
<div class="container m-2"*ngIf="product.length == 0">
  <h1>Il carrello è vuoto</h1>
</div>
